h2 {
  font-size: 24px
}
h3 {
  font-size: 20px
}


.panel{
/* hide top border for media server panels to not overlap with the tabbed menu's lower h line*/
border-top-width: 0px;
/*make the corners squre for a seamless line */
border-radius: 4px;
}
